.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    gap: 2rem;
    width: 60%;
}
h1 {
    font-style: italic;
    font-size: 3rem;
    background: #2f2e2c;
    color: #de4e4e;
    padding: 1rem;
}

p {
    font-size: 2rem;
    font-style: italic;
    max-width: 50%;
    margin: 4rem auto 0;
}

span {
    color: #de4e4e;
    font-weight: bolder;
}